body {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  font-family: sans-serif;
}

body h1 {
  text-align: center;
}

body .produtos {
  display: flex;
}

body .produtos .box-produto {
  display: flex;
}

body .produtos .box-produto .descricao {
  padding: 0 1em;
  text-align: center;
}

body .produtos .box-produto .descricao .preco {
  font-size: 2em;
  margin: 0 auto;
}

body .produtos .box-produto .descricao .btn-comprar {
  text-decoration: none;
  margin-top: 1em;
  display: block;
  background-color: #f75813;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
}

body .produtos .box-produto .descricao .btn-comprar:hover {
  background-color: #f75813b8;
}
